{% extends 'base.html' %}


{% block body %}

<div class="container mt-5 d-flex justify-content-center">
   <h1> Avaliação </h1><br>
</div>

<div class="mt-4 mb-4 d-flex container stats" >
        <div class="d-flex row align-items-center">
            <div class="col-3">
              <div class="image pe-2"> <img src="{{ avaliacao.jogo.foto_jogo }}" class="rounded" width="200" height="200" > </div>
            </div>
            <div class="col-9">
              <ul>
                  <div class="d-flex flex-column number5 "> <span>{{ avaliacao.criador.nome }}</span> </div><br>
                    {% if avaliacao.nota<=35 %}
                       <div class="container">
                          <button type="button" class="btn btn-danger number6">
                             <span class="badge badge-light color"> {{ avaliacao.nota }}</span>
                          </button>
                       </div>
                        {% elif avaliacao.nota<=70 %}
                           <div class="container">
                              <button type="button" class="btn btn-warning number6">
                                 <span class="badge badge-light color"> {{ avaliacao.nota }}</span>
                              </button>
                           </div>
                        {% else %}
                           <div class="container">
                              <button type="button" class="btn btn-success number6">
                                 <span class="badge badge-light color"> {{ avaliacao.nota }}</span>
                              </button>
                           </div>
                    {% endif %}
               </ul>
            </div>
            <p align=justify>
              <p align = justify class="ml-5 pl-5 number7"> {{ avaliacao.corpo }} </p>
            </p>
        </div>
</div>

    <div class="container" xmlns="http://www.w3.org/1999/html">
        <h1>{{ Avaliar }}</h1>
        <hr>
        <div class="row">
            <div class="col">
                <form method = "POST" action="" class = "border p-4 mt-2" >

                    <legend>Editar avaliação</legend>
                    <fieldset>
                        <div class = "fora_group">
                            {{ form.corpo.label(class = "form-control-label") }}
                            {% if form.corpo.errors %}
                                {{ form.corpo(class = "form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form.corpo.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.corpo(class = "form-control") }}
                            {% endif %}
                        </div>

                        <div class = "fora_group">
                            {{ form.nota.label(class = "form-control-label") }}
                            {% if form.nota.errors %}
                                {{ form.nota(class = "form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form.nota.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.nota(class = "form-control") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    {{ form.enviar_avaliacao(class = "btn btn-primary mt-2") }}
                </form>
            </div>
        </div>

{% endblock %}